html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.MuiSvgIcon-root:hover {
  background-color: #f8f8f8;
  border-radius: 2em;
}